
/*---------------------------- NAV ------------------------------------------*/




/*----------------------------- HERO -----------------------------------------*/
.mi-header{
	height: 100vh;
	background: url(../assets/img/taxi.jpg);
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
}

.registro{
	background: #f7b617;
	color: white;
}



/*-----------------------------INFORMACION ---------------------------------------*/
.info{
	background: #f7b617;
	color: white;
}



/*------------------------------ CONDUCE ---------------------------------------------*/
.conduce{
	height: 50vh;
	background: url(../assets/img/conduce.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.driver{
	color: white;
}